{% load i18n %}
<nav class="navbar navbar-light navbar-fixed-top bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="#">Volunteer-Planner.org</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                {% url 'helpdesk' as helpdesk_url %}
                <a class="nav-link" href="{{ helpdesk_url }}"
                   {% if helpdesk_url in reqeust.path %}class="active"{% endif %}>Helpdesk</a><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% url 'faq' as faq_url %}
                <a href="{{ faq_url }}" {% if faq_url in reqeust.path %}class="active"{% endif %}>FAQ
                </a>
            </li>
        </ul>

                    <button type="button" id="primary-cta">
                        <a href="{% url 'registation' %}">Helfen und Registrieren</a>
                    </button>

        <!-- Single button -->
          {% if user.is_authenticated %}
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                {{ user.get_full_name|default:user.username }}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'account_detail' %}">Benutzerkonto</a>
                <a class="dropdown-item" href="{% url 'auth_logout' %}">Log-Out</a>
            </div>
        </div>
     {% else %}
                 <button type="button" class="btn btn-secondary pull-right">
                    <a href="{% url 'auth_login'  %}">Login</a>
                </button>
            {% endif %}
    </div>
</nav>

